@Html.ActionLink("Create New", "NewOrEdit", null, new { @class = "btn btn-info addNewItem" })
<span>&nbsp;</span>
@Html.ActionLink("Detail", "NewOrEdit", null, new { @class = "btn btn-info EditItem" })
<span>&nbsp;</span>
@if ((bool)ViewBag.ShowButtonDelete)
{
    @Html.ActionLink("Delete", "Delete", null, new { @class = "btn btn-danger DeleteItem confirmDelete" })
}