<link rel="stylesheet" type="text/css" href="/Content/assets/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="/Content/assets/bootstrap-fileupload/bootstrap-fileupload.css" />
<script type="text/javascript" src="/Content/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/Content/assets/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
<div class="row-fluid">
    <div class="span12">
        <div class="box box-pink">
            <div class="box-title">
                <h3>
                    <i class="icon-reorder"></i>Tạo quảng cáo</h3>
                <div class="box-tool">
                </div>
            </div>
            <div class="box-content">
                @using (Html.BeginForm("Create", "Promo", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    <div class="control-group">
                        <label class="control-label">
                            Công ty</label>
                        <div class="controls">
                            <input runat="server" name="txtCompany" type="text" class="span10" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Link chuyển</label>
                        <div class="controls">
                            <input runat="server" name="txtLink" value="http://" type="text" class="span10" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Image Upload</label>
                        <div class="controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px;
                                    max-height: 150px; line-height: 20px;">
                                </div>
                                <div>
                                    <span class="btn btn-file"><span class="fileupload-new">Select image</span> <span
                                        class="fileupload-exists">Change</span>
                                        <input type="file" name="file" class="default" /></span> <a href="#" class="btn fileupload-exists"
                                            data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Nội dung</label>
                        <div class="controls">
                            <textarea runat="server" name="txtNoiDung" class="span12 wysihtml5" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Trả lời</label>
                        <div class="controls">
                            <textarea runat="server" name="txtAnswer" class="span12 wysihtml5" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">
                            Lưu lại</button>
                        @Html.ActionLink("Hủy", "Index", null, new { @Class = "btn" })
                    </div>
                }
            </div>
        </div>
    </div>
