@{
    ViewBag.Title = "Report";
}
<div class="row-fluid paddingtop10" >
    <div class="span12 report">
    <a href="javascript:void(0)" class="btn btn-legend">Report</a>
        <div class="row-fluid">
            <div class="span12">
                <div class="span2">
                    <a href="#" class=" span12 btn btn-info">Trip Info - Outstanding</a>
                </div>
                <div class="span2">
                    <a href="#" class=" span12 btn btn-info">Fuel & Expenses - Outstanding</a>
                </div>
                <div class="span2">
                    <a href="#" class=" span12 btn btn-info">Fuel & Expenses - Outstanding for driver</a>
                </div>
                <div class="span2">
                    <a href="#" class=" span12 btn btn-info">Driver's trips - Outstanding</a>
                </div>
                <div class="span2">
                    <a href="#" class=" span12 btn btn-info">Drivers - Trips Fuel & Expenses Outstanding - RATES</a>
                </div>
                <div class="span2">
                    <a href="#" class=" span12 btn btn-info">Incomes</a>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="span2">
                    <a href="#" class=" span12 btn btn-info">Pending trips by driver</a>
                </div>
                <div class="span2">
                    <a href="#" class=" span12 btn btn-info">Drivers - Trips outstanding, Fuel & Expenses Outstanding</a>
                </div>
                <div class="span2">
                    <a href="#" class=" span12 btn btn-info">Dispatchers - Trip list</a>
                </div>
                <div class="span2">
                    <a href="#" class=" span12 btn btn-info">Operating Expenses - outstanding</a>
                </div>
                <div class="span2">
                    <a href="#" class=" span12 btn btn-info">Schedule</a>
                </div>
                <div class="span2">
                    <a href="#" class=" span12 btn btn-info">P & L</a>
                </div>                
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="span2">
                    <a href="#" class=" span12 btn btn-info">Driver's Trip & Flues outstanding</a>
                </div>
                <div class="span2">
                    <a href="#" class=" span12 btn btn-info">Customer's jobs</a>
                </div>
                <div class="span2">
                    <a href="#" class=" span12 btn btn-info">Drivers - Trips, Fuel & Expenses Outstanding</a>
                </div>
                <div class="span2">
                    <a href="#" class=" span12 btn btn-info">Driver's jobs - period</a>
                </div>
                <div class="span2">
                    <a href="#" class=" span12 btn btn-info">Active Drivers</a>
                </div>                
            </div>
        </div>
    </div>
</div>
