@model Alabama.BuuKien
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>Chuyển bưu kiện</h3>
            </div>
            <div class="box-content">
                @Html.ValidationSummary(true, "Chuyển bưu kiện không thành công")
                @using (Html.BeginForm("ChuyenBuuKien", "BuuKien", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div>
                    <div class="control-group">
                            <label class="control-label">
                                Mã bưu kiện</label>
                            <div class="controls">
                                <input type="text" name="MaBuuKien" value="@(Model.MaBuuKien)" readonly="readonly" style="color: red;"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                Tên bưu kiện</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.TenBuuKien)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                Bưu cục trả</label>
                            <div class="controls">
                                @Html.DropDownListFor(m => m.BuuCucTraID, (SelectList)ViewBag.SelectListBuuCuc)
                            </div>
                        </div>
                        <div class="controls">
                            <input type="submit" value="Nhận bưu kiện" class="btn btn-primary" />
                            <button type="button" class="btn" onclick="javascript:window.history.go(-1);">
                                Hủy</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>