<link rel="stylesheet" type="text/css" href="/Content/assets/bootstrap-datepicker/css/datepicker.css" />
<script type="text/javascript" src="/Content/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.date-picker1').datepicker({ language: "vi", format: "dd/mm/yyyy" }).on('changeDate', function (ev) {
            $('.date-picker1').datepicker('hide');
        });
        $("#KhachHangID").change(function () {
            var $this = $(this);
            var id = $this.val();
            $.ajax({
                type: "post",
                url: "/BuuKien/GetKhachHang",
                data: "id=" + id,
                success: function (kq) {
                    $("#NguoiGui").val(kq.name);
                    $("#DiaChiNguoiGui").val(kq.address);
                }
            });
        });
        $(".BuuCuc").hide();
        $(".TrangThai").hide();
        $(".LoaiBaoCao").change(function () {
            var value = $(this).val();
            if (value == 'TongHop') {
                $(".BuuCuc").hide();
                $(".TrangThai").hide();
            }
            if (value == 'TongHopTheoBC') {
                $(".BuuCuc").slideDown();
                $(".TrangThai").hide();
            }
            if (value == 'TrangThai') {
                $(".BuuCuc").slideUp();
                $(".TrangThai").slideDown();
            }
        });
        $(".ThongKe").click(function () {
            if ($(".date-picker1").val() == '') {
                alert("Bạn chưa chọn ngày tháng");
                return false;
            }

            return true;
        });
    });
</script>
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>Nhận bưu kiện</h3>
            </div>
            <div class="box-content">
                @using (Html.BeginForm("ThongKe", "BaoCaoThongKe", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="control-group">
                        <label class="control-label">
                            Loại báo cáo</label>
                        <div class="controls">
                            <select class="LoaiBaoCao" name="LoaiBaoCao">
                                <option value="TongHop">Báo cáo tổng hợp</option>
                                <option value="TongHopTheoBC">Báo cáo theo từng bưu cục</option>
                                <option value="TrangThai">Báo cáo theo trạng thái</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Từ ngày</label>
                        <div class="controls">
                            <input type="text" name="StartDate" value="@(ViewBag.NgayBatDau)" class = "date-picker1" size = "16"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Đến ngày</label>
                        <div class="controls">
                            <input type="text" name="EndDate" value="@(DateTime.Now.ToString("dd/MM/yyyy"))" class = "date-picker1" size = "16"/>
                        </div>
                    </div>
                    <div class="control-group BuuCuc">
                        <label class="control-label">
                            Bưu cục</label>
                        <div class="controls">
                            @Html.DropDownList("SelectListBuuCuc")
                        </div>
                    </div>
                    <div class="control-group TrangThai">
                        <label class="control-label">
                            Trạng thái</label>
                        <div class="controls">
                            <select name="TrangThai">
                                <option value="Đã tiếp nhận">Đã tiếp nhận</option>
                                <option value="Đang gửi">Đang gửi</option>
                                <option value="Gửi thành công">Gửi thành công</option>
                                <option value="Gửi không thành công">Gửi không thành công</option>
                            </select>
                        </div>
                    </div>
                    <div class="controls">
                        <button class="btn btn-primary ThongKe" type="submit">
                            Thống kê</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
