<li><a href="/TripInfo"><span>Trip Info</span> </a></li>
<li><a href="/DriverInfo"><span>Driver Info</span> </a></li>
<li><a href="/FuelExpenses"><span>Fuel Expenses</span> </a></li>
<li><a href="/Owner"><span>Owners</span> </a></li>
<li><a href="/CompanyExpanses"><span>Company Expanses</span></a></li>
<li><a href="/Income"></i><span>Income</span> </a></li>
<li><a href="/Dispatchers"><span>Dispatchers</span> </a></li>
<li><a href="/CustomerInfo"><span>Customer Info</span> </a></li>
<li><a href="/Report"><span>Report</span> </a></li>

@*<i class="icon-list"></i>*@