<li><a href="/Owner"><i class="icon-list"></i><span>Owners</span> </a></li>
<li><a href="/CompanyExpanses"><i class="icon-list"></i><span>Company Expanses</span>
</a></li>
<li><a href="/Income"><i class="icon-list"></i><span>Income</span> </a></li>
<li><a href="/Dispatchers"><i class="icon-list"></i><span>Dispatchers</span> </a></li>
<li><a href="/CustomerInfo"><i class="icon-list"></i><span>Customer Info</span> </a></li>
<li><a href="/TripInfo"><i class="icon-list"></i><span>Trip Info</span> </a></li>