@model Webdiyer.WebControls.Mvc.PagedList<NationalIT.Fuel___Expenses>
@using Webdiyer.WebControls.Mvc;
<div class="row-fluid">
    <div class="span12">
        <h3>
            Fuel Expenses</h3>
        <div class="row-fluid">
            <div class="span12">
                @Html.Partial("_MenuButtonNewEditOrDelete")
                <div class="row-fluid">
                    <div class="wrap-selectTripInfo">
                        <div class="span12">
                            Fuel Expenses
                            <select data-placeholder="Select Fuel Expenses" name="Fuel_Expenses" class="chosen-with-diselect input-xlarge selectDriverInfo">
                                @Html.Raw(ViewBag.dataDriver)
                            </select>
                        </div>
                        <div class="cleardiv">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrap-AjaxPaging">
            @Html.Partial("_IndexPartial", Model)
        </div>
    </div>
</div>
