@model Webdiyer.WebControls.Mvc.PagedList<NationalIT.Driver_Info>
@using Webdiyer.WebControls.Mvc;
<div class="row-fluid">
    <div class="span12">
        <h3>
            Driver Info</h3>
        <div class="row-fluid">
            <div class="span12">
               @Html.Partial("_MenuButtonNewEditOrDelete")
                <div class="row-fluid">
                    <div class="wrap-selectTripInfo">
                        <div class="span2">
                            Active<br />
                            <select class="Driver_active_selection" style="width:80px">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                                <option value="2">-All-</option>
                            </select>
                        </div>
                        <div class="span10">
                            Driver info
                            <select data-placeholder="Select DriverInfo" name="Driver_Info" class="chosen-with-diselect input-xlarge selectDriverInfo">
                                @Html.Raw(ViewBag.dataDriver_Info)
                            </select>
                        </div>
                        <div class="cleardiv">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrap-AjaxPaging">
            @Html.Partial("_IndexPartial", Model)
        </div>
    </div>
</div>
