@{
    ViewBag.Title = "Reports";
}

<div class="row-fluid ReportMenu">
    <div class="span1">
        <label for="AllDate">
            All Date</label>
        <input type="checkbox" name="AllDate" value=" " class="AllDate" />
    </div>
    <div class="span2">
        <label for="StartDate">
            StartDate</label>
        <input type="text" name="StartDate" value="@DateTime.Now.AddDays(1 - Convert.ToDouble(DateTime.Now.DayOfWeek)).ToString("MM/dd/yyyy")" class="span12 date-picker StartDate" />
    </div>
    <div class="span2">
        <label for="EndDate">
            EndDate</label>
        <input type="text" name="EndDate" value="@DateTime.Now.ToString("MM/dd/yyyy")" class="span12 date-picker EndDate" />
    </div>
    <div class="span3">
        <label for="EndDate">
            Driver</label>
        <select data-placeholder="Select Driver" name="Driver" class="span12 chosen-with-diselect input-xlarge SelectDriver">
            @Html.Raw(ViewBag.dataDriver)
        </select>
    </div>
    <div class="span3">
        <label for="EndDate">
            Dispatcher</label>
        <select data-placeholder="Select Dispatcher" name="Dispatcher" class="span12 chosen-with-diselect input-xlarge SelectDispatcher">
            @Html.Raw(ViewBag.dataDispatchers)
        </select>
    </div>
</div>
<div class="row-fluid paddingtop10">
    <div class="span12 report">
        <a href="javascript:void(0)" class="btn btn-legend report-fieldset">Reports</a>
        <div class="row-fluid">
            <div class="span12">
                <div class="span2">
                    <a href="/Reports/ShowReport.aspx?ReportName=TripInfoOutstanding" target="_blank" class=" span12 btn btn-primary">
                        Trip Info - Outstanding</a>
                </div>
                <div class="span2">
                    <a href="/Reports/ShowReport.aspx?ReportName=DispatcherTrip" target="_blank" class=" span12 btn btn-primary">
                        Fuel & Expenses - Outstanding</a>
                </div>
                <div class="span2">
                    <a href="/Reports/ShowReport.aspx?ReportName=DispatcherTrip" target="_blank" class=" span12 btn btn-primary">
                        Fuel & Expenses - Outstanding for driver</a>
                </div>
                <div class="span2">
                    <a href="/Reports/ShowReport.aspx?ReportName=DispatcherTrip" target="_blank" class=" span12 btn btn-primary">
                        Driver's trips - Outstanding</a>
                </div>
                <div class="span2">
                    <a href="/Reports/ShowReport.aspx?ReportName=DispatcherTrip" target="_blank" class=" span12 btn btn-primary">
                        Drivers - Trips Fuel & Expenses Outstanding - RATES</a>
                </div>
                <div class="span2">
                    <a href="/Reports/ShowReport.aspx?ReportName=DispatcherTrip" target="_blank" class=" span12 btn btn-primary">
                        Incomes</a>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="span2">
                    <a href="/Reports/ShowReport.aspx?ReportName=DispatcherTrip" target="_blank" class=" span12 btn btn-primary">
                        Pending trips by driver</a>
                </div>
                <div class="span2">
                    <a href="/Reports/ShowReport.aspx?ReportName=DispatcherTrip" target="_blank" class=" span12 btn btn-primary">
                        Drivers - Trips outstanding, Fuel & Expenses Outstanding</a>
                </div>
                <div class="span2">
                    <a href="/Reports/ShowReport.aspx?ReportName=DispatcherTrip" target="_blank" class=" span12 btn btn-primary">
                        Dispatchers - Trip list</a>
                </div>
                <div class="span2">
                    <a href="/Reports/ShowReport.aspx?ReportName=DispatcherTrip" target="_blank" class=" span12 btn btn-primary">
                        Operating Expenses - outstanding</a>
                </div>
                <div class="span2">
                    <a href="/Reports/ShowReport.aspx?ReportName=ScheduleOfInvoices" target="_blank" class=" span12 btn btn-primary">
                        Schedule</a>
                </div>
                <div class="span2">
                    <a href="/Reports/ShowReport.aspx?ReportName=DispatcherTrip" target="_blank" class=" span12 btn btn-primary">
                        P & L</a>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="span2">
                    <a href="/Reports/ShowReport.aspx?ReportName=DispatcherTrip" target="_blank" class=" span12 btn btn-primary">
                        Driver's Trip & Flues outstanding</a>
                </div>
                <div class="span2">
                    <a href="/Reports/ShowReport.aspx?ReportName=DispatcherTrip" target="_blank" class=" span12 btn btn-primary">
                        Customer's jobs</a>
                </div>
                <div class="span2">
                    <a href="/Reports/ShowReport.aspx?ReportName=DispatcherTrip" target="_blank" class=" span12 btn btn-primary">
                        Drivers - Trips, Fuel & Expenses Outstanding</a>
                </div>
                <div class="span2">
                    <a href="/Reports/ShowReport.aspx?ReportName=DispatcherTrip" target="_blank" class=" span12 btn btn-primary">
                        Driver's jobs - period</a>
                </div>
                <div class="span2">
                    <a href="/Reports/ShowReport.aspx?ReportName=DispatcherTrip" target="_blank" class=" span12 btn btn-primary">
                        Active Drivers</a>
                </div>
            </div>
        </div>
    </div>
</div>
