@if (Request.IsAuthenticated)
{<li class="user-profile"><a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
        <img class="nav-user-photo" src="/Content/img/demo/avatar/avatar1.jpg" alt="Penny's Photo" />
        <span class="hidden-phone" id="user_info"><span>@User.Identity.Name</span></span>
        <i class="icon-caret-down"></i>
        <!-- BEGIN User Dropdown -->
        <ul class="dropdown-menu dropdown-navbar" id="user_menu">
            @*<li class="nav-header"><i class="icon-time"></i>Logined From 20:45 </li>*@
            <li><a href="#"><i class="icon-cog"></i>Đổi mật khẩu</a></li>
            <li><a href="#"><i class="icon-user"></i>Chi tiết tài khoản</a></li>
            @*<li><a href="#"><i class="icon-question"></i>Help</a></li>*@
            <li class="divider visible-phone"></li>
            <li class="visible-phone"><a href="#"><i class="icon-tasks"></i>Tasks <span class="badge badge-warning">
                4</span> </a></li>
            <li class="visible-phone"><a href="#"><i class="icon-bell-alt"></i>Notifications <span
                class="badge badge-important">8</span> </a></li>
            <li class="visible-phone"><a href="#"><i class="icon-envelope"></i>Messages <span
                class="badge badge-success">5</span> </a></li>
            <li class="divider"></li>
            <li><a href="/Account/Logoff"><i class="icon-off"></i>Logout </a></li>
        </ul>
        <!-- BEGIN User Dropdown --></li>
}
else
{
    <span class="user-profile"><a href="/Account/Logon">Đăng nhập</a></span>
}